.success {
    color: green;
    background: #ccffcc;
    border: 2px solid green;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .error {
    color: red;
    background: #ffd6d6;
    border: 2px solid red;
    padding: 10px;
    margin-bottom: 10px;
  }